# Project
PROJECT_NAME=PyWarehouse

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/warehouse
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=warehouse

# Redis
REDIS_URL=redis://localhost:6379/0

# JWT
SECRET_KEY=please-change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=43200

# Root user (initial admin)
ROOT_USER_NAME=admin
ROOT_USER_PASSWORD=admin123
